.big-list {
  &__item {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    a {
      padding: 5px 25px;
      text-decoration: none;
      color: $text-color;
      font-weight: 700;
      border-radius: 10px;
      border: 1px transparent solid;

      text-align: center;
      transition: all .2s linear;

      &:hover {
        border: 1px #000000 solid;
        background-color: $block-color;
      }
    }
  }
}