.delete-button {
  color: #ffffff;
  background-color: $delete-color;
  transition: all .2s linear;
  cursor: pointer;

  &:hover {
    background-color: $delete-color-hover;
  }
}

.add-button {
  background-color: $add-color;
  color: #ffffff;
  transition: all .2s linear;
  cursor: pointer;
  &:hover {
    background-color: $add-color-hover;
  }
}