.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.active {
  background-color: $item-fon-hover-color;
}

.hidden-block {
  display: none;
}

.disabled-block {
  opacity: 0.3;

  &:hover {
    background-color: transparent;
  }
}
.data-from-left{
  margin-left: 30%;
}
