.strain-adding {
  display: flex;
  flex-direction: column;
  position: relative;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 18px;
    position: fixed;
    right: 8%;

    .form-button:first-child {
      margin-bottom: 10px;
    }
  }
}


@media (max-width: 1220px) {
  .strain-adding {
    &__buttons {
      font-size: 18px;
      right: 6%;
    }
  }
}

@media (max-width: 1150px) {
  .strain-adding {
    &__buttons {
      font-size: 18px;
      right: 4%;
    }
  }
}

@media (max-width: 1024px) {
  .strain-adding {
    &__buttons {
      font-size: 18px;
      right: 1%;
    }
  }
}

.strain-form {

  &__general-info {
    padding-right: 25px;
  }

  &__item {
    width: 550px;
  }

  &__input {
    border-radius: 7px;
  }

  &__label {
    text-align: center;
  }
}

.base-field {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buttons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }


  &__add-button{

  }

  .form__field{
    margin-bottom: 0;
  }
}

.property {
  margin-top: 35px;
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
  }

  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  &__parameter {
    width: 450px;
  }

  &__buttons-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__delete-button {
    border-radius: 10px;
    padding: 5px 10px;
  }
}

.property-group {

  &__buttons-block {
    width: 62px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  &__delete-button {
    margin-top: -15px;
    padding: 4px 10px;
    border-radius: 5px;
  }

  &__add-button {
    padding: 4px 10px;
    border-radius: 5px;
  }


  &__add-button-block {
    display: flex;
    justify-content: flex-end;
  }
}


.add-property-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 50px;

  &__label {
    font-weight: 700;
    margin-bottom: 0;
  }

  &__select {
    padding: 5px;
    border-radius: 5px;
    width: 300px;

    background-color: $item-fon-color;

  }

  &__button {
    border-radius: 5px;
    padding: 5px 10px;
  }
}